<!DOCTYPE html>
<html lang="en">
<head>
  <title>Breast Cancer Image Classification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="jumbotron bg-primary">Breast Cancer Image Classification</h1>
  <br><br>
  <form class="form-horizontal" action="/" method="post" enctype="multipart/form-data">

    
    <div class="form-group">
          <label class="control-label col-sm-2" for="patient_id">Patient ID:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Patient ID" name="patient_id" id="pid" onchange="validatePatientID()">
            <span id="error_message" style="color: red;"></span>
          </div>
        </div>
        
        <script>
        function validatePatientID() {
          var patientIDInput = document.getElementById("pid");
          var errorElement = document.getElementById("error_message");
          var patientID = patientIDInput.value;
        
          if (patientID.length != 11) {
            errorElement.innerHTML = "Patient ID should be 11 digits long.";
          } else {
            errorElement.innerHTML = ""; // Clear the error message if the input is valid
          }
        }
        </script>
    <div class="form-group">
      <label class="control-label col-sm-2" for="classification">Classification Type Of Image:</label>
      <div class="col-sm-10">
        <select class="form-control" id="class_type" name="classification_type">
          <option value="mammography">Mammography</option>
          <option value="ultrasound">Ultrasound</option>
          <option value="histopathology">Histopathology</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Upload Your Image :</label>
      <div class="col-sm-10">          
        <input type="file" class="form-control" placeholder="Hours Studied"  name="my_image" id="pwd">
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
    
    

    
  </form>

  {% if prediction %}
  <img src="{{img_path}}" height="150px" width="150px">
  <h2> Prediction For This Image: <i> {{prediction}} </i></h2>
  {% endif %}

</div>

</body>
</html>
